* {
    font-family: Helvetical, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    background-color: #21232a;
    color: #fff;
}

main {
    padding-top: 10px;
    width: 90%;
    margin: auto;
}

input {
    padding: 5px;
    color: gray;
}

span {
    color: red;
    font-weight: 700;
    display: block;
}

.gif-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.gif-grid-item {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.gif-grid-item img {
    width: 100%;
    max-height: 300px;
}

.gif-grid-item p {
    align-self: flex-end;
    font-weight: 700;
    margin-top: 5px;
}

@media (max-width: 720px) {
    .gif-grid-item {
        width: 100%;
        margin-bottom: 10px;
    }
}